<html>
<body>
<h1>Users</h1>
<table border="1">
    <thead>
    <tr>
        <td>
            First Name
        </td>
        <td>
            Last Name
        </td>
        <td>
            Email
        </td>
    </tr>
    </thead>
    <tbody>
        {% for user in page.users %}
            <tr>
                <td>
                    <a href="{{ baseUrl }}user/{{ user.userId }}">
                        {{ user.firstName }}
                    </a>
                </td>
                <td>
                    {{ user.lastName }}
                </td>
                <td>
                    {{ user.email }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>